* {
  cursor: auto;
}

/* ---------cursor Animation */
#cursor {
  height: 50px;
  width: 50px;
 
  border-radius: 50%;
  position: absolute;
  display: none;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  z-index: -1; /* get back -2 for all elements */
 
}

div:hover ~ #cursor {
  transform: scale(0.5);
}
/* -------------end  */
.form {
  display: grid;
  gap: 15px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}

.skull {
  width: 50px;
  height: 50px;
}

input{
  padding: 10px;
  background: #ffffff00;
  border-radius: 15px;
  min-width: 80px;
}
